.new-expense {
    background-color: #222f3e;
    margin: 0;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.new-expense label {
    color: white;
}

.new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    border: 1px solid #00d2d3;
    background-color: #00d2d3;
    color: white;
    border-radius: 7px;
    margin: 5px;
  }

.new-expense-btn {
    background-color: #00d2d3;
    margin: 0;
    margin-top: 15px;
    padding: 5px;
    width: 100%;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.new-expense-btn:hover,
.new-expense-btn:active,
.new-expense button:hover,
.new-expense button:active {
    background-color: #01a3a4;
    border-color: #01a3a4;
}
  
.new-expense-btn.alternative,
.new-expense button.alternative {
    color: #00d2d3;
    border-color: transparent;
    background-color: transparent;
}
  
.new-expense-btn.alternative:hover,
.new-expense-btn.alternative:active, 
.new-expense button.alternative:hover,
.new-expense button.alternative:active {
    background-color: #00d2d3;
}

.button-button {
    margin: auto;
    font: inherit;
    cursor: pointer;
    color: white;    
    background-color: transparent;
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid transparent;
    width: 100%;
}